<header id="about" class="border-dark border-left-0 border-right-0">
        <div id="content">
            <div style="text-align: center">
                <div class="para-end">
                    <h2> About</h2>
                </div>
                <div id="home-text">
                      <div class="para-end">
                       I am a Ph.D. candidate from the Department of Industrial and Manufacturing Engineering, at Penn State University.
                       With nearly 10 years of battery-related energy storage research experience, I am very enthusiastic about clean energy development and the application of engineering analytics.
                       As a graduate assistant, I delivered lectures and lab instructions for several undergraduate courses, e.g. IE 311, IE 312, etc..
                      </div>                            
                
                     <h5 style="text-align: center">Research Expertise and Current Interests</h5>

                     <div class="para">
                           Electrode materials, Solid-state electrolyte, Structural battery, Composite design, Low-temperature sintering process, and Advanced manufacturing.
                     </div>
                     <div class="para">
                          Together with data-driven analysis and optimization algorithms, promoting the development of Lithium-ion batteries and beyond.
                     </div>
                                
                </div>

                <br>
            </div>
        </div>
</header>

