<!DOCTYPE html>
<html>
<div id="content">
    <h4 class="text-left"> Oral Presentation </h4>
    <hr>
    <ul class="list-unstyled m-0">

        <li class="py-2">
            <span class="text-secondary">{2023 Fall MRS Conference, Boston, MA, USA}</span>

            <h1 class="mt-1 mb-3 h3">
                <a>Unveiling Low-Temperature Sintering of Solid-State Ceramic Composite Electrolytes via In-Situ Electrochemical Impedance Spectroscopy</a>
            </h1>
        </li>
        <li>
            <a>Bo Nie and Hongtao Sun </a>
            {Nov. 2023}    
        </li>
        <li class="para-end">

        </li>
    </ul>
    <ul class="list-unstyled m-1">

        <li class="py-2">
            <span class="text-secondary">{2023 Fall MRS Conference, Boston, MA, USA}</span>

            <h1 class="mt-1 mb-3 h3">
                <a>Engineering Multifunctional Interfaces for Forming and Recycling Composite Electrodes</a>
            </h1>
        </li>
        <li>
            <a>Bo Nie and Hongtao Sun </a>
            {Nov. 2023}    
        </li>
        <li class="para-end">

        </li>
    </ul>
    <ul class="list-unstyled m-2">

        <li class="py-2">
            <span class="text-secondary">{Hong Kong University – ZIRI Innovation Forum 2019}</span>

            <h1 class="mt-1 mb-3 h3">
                <a>Carbonaceous Fiber as Assisting Materials for Lithium Sulfur Batteries</a>
            </h1>
        </li>
        <li>
            <a>Bo Nie </a>
            {Mar. 2019}    
        </li>
        <li class="para-end">

        </li>
    </ul>
</div>

  <div id="content">
    <h4 class="text-left"> Poster Presentation </h4>
    <hr>
    <ul class="list-unstyled m-0">

        <li class="py-2">
            <span class="text-secondary">{2023 Fall MRS Conference, Boston, MA, USA}</span>

            <h1 class="mt-1 mb-3 h3">
                <a>Graphene Aligned 2D Charge Transport Network for the Thick Electrode for Lithium-ion Batteries via the Spark Plasma Sintering Process</a>
            </h1>
        </li>
        <li>
            <a>Bo Nie, Mingxin Li, Jie Lian, Hongtao Sun </a>
            {Nov. 2023}    
        </li>
        <li class="para-end">

        </li>
    </ul>
    <ul class="list-unstyled m-1">

        <li class="py-2">
            <span class="text-secondary">{2023 Fall MRS Conference, Boston, MA, USA}</span>

            <h1 class="mt-1 mb-3 h3">
                <a>Lithiophilic montmorillonite as a robust substrate toward high-stable lithium metal anodes</a>
            </h1>
        </li>
        <li>
            <a>Meng Wang, Bo Nie, Jian Zhu, Hongtao Sun </a>
            {Nov. 2023}    
        </li>
        <li class="para-end">

        </li>
    </ul>
    <ul class="list-unstyled m-2">

        <li class="py-2">
            <span class="text-secondary">{International Electrochemical Energy System Forum, Shaoxing,China}</span>

            <h1 class="mt-1 mb-3 h3">
                <a>Nitrogen Oxygen Co-doped Porous Carbon Fiber as Efficient Polysulfide Trapping Interlayer for Long Life Lithium Sulfur Batteries</a>
            </h1>
        </li>
        <li>
            <a>Bo Nie </a>
            {Mar. 2019}    
        </li>
        <li class="para-end">

        </li>
    </ul>
    <ul class="list-unstyled m-3">

        <li class="py-2">
            <span class="text-secondary">{The 31st Annual Conference of Chinese Chemical Society, Hangzhou, China}</span>

            <h1 class="mt-1 mb-3 h3">
                <a>The CNT@nitrogen-doped mesoporous carbon with TiN for high energy lithium-sulfur battery cathode composite</a>
            </h1>
        </li>
        <li>
            <a>Bo Nie </a>
            {May 2018}    
        </li>
        <li class="para-end">

        </li>
    </ul>
</div>
</html>
