<header id="nav-header" class="border-dark border-left-0 border-right-0">
  <div id="nav-container" class="container position-relative d-flex justify-content-between align-items-center">
    {% assign default_paths = site.pages | map: "path" %}
    {% assign page_paths = site.header_pages | default: default_paths %}
    <a class="h4 m-0 text-dark" href="{{"/" | relative_url }}">{{ site.title | escape }}</a>

    {% if page_paths %}
      <nav id="nav-menu-container" class="n:menu text-right">
        <input type="checkbox" id="nav" class="btn-check"/>
        <label for="nav" aria-label="button" class="n:icon d-inline-block r:d-none m-1">
        </label>

        <div id="n:menu" class="ml-3 d-none b:d-flex flex-column r:d-flex r:flex-row">
          {% for path in page_paths %}
            {% assign my_page = site.pages | where: "path", path | first %}
            {% if my_page.title %}
              <a class="p-2 small font-weight-bold text-uppercase" href="{{ my_page.url | relative_url }}">{{ my_page.title | escape }}</a>
            {% endif %}
          {% endfor %}
        </div>
      </nav>
    {% endif %}
  </div>
</header>
