<section id="news">
    <div id="home-text">
        <p class="para"><h3 class="text-center"> Recent News </h3></p>
        
        <li class="para-middle">
            <span> <b>Nov. 2023</b>.  Attended the <b>2023 Fall MRS Conference</b> in <b>Boston MA</b>. Presented two of my research works and two poster projects.  </span>
        </li>
        <li class="para-middle">
            <span> <b>Feb. 2022</b>.  Placed the <b>3rd</b> in Area 22 International Speech Contest 2022, <b>Toastmasters International</b> in <b>State College PA</b>. </span>
        </li>
        <li class="para-middle">
            <span> <b>Mar. 2020</b>.  <b>Manufacturing Pennsylvania Innovation Program</b> recognized Bo Nie as a practitioner of innovative manufacturing. </span>
        </li>
    </div>
</section>
