<header class="pt-3 mb-3">
    {{ content }}
</header>


<section id="proj-1">

    <h3 class="text-center"> Multifunctional design for the high-performance lithium-ion battery with an ultra-high cathode mass loading and volumetric energy density </h3>

    <div id="content">

        <li class="py-2">

            <span class="text-secondary">Investigate the role of interface engineering in dense & thick cathode for maintaining the electrode mechanical strength and electronic/ionic transport property.</span>

        </li>
        <li class="py-2">

            <span class="text-secondary">Study the thickness dependent electrochemical performance for an optimized electrode design.</span>

        </li>
        <li class="py-2">

            <span class="text-secondary">Harvest the recoverable capacity from the direct recycling process of the thick electrode.</span>

        </li>
    </div>
</section>
<section id="proj-2">

    <h3 class="text-center"> Unveiling low-temperature sintering of solid-state ceramic composite electrolytes via in-situ EIS </h3>

    <div id="content">

        <li class="py-2">

            <span class="text-secondary">Synthesize a fast lithium-ion conductive solid-state electrolyte under low temperature and short lead time.</span>

        </li>
        <li class="py-2">

            <span class="text-secondary">Employ EIS as an in-line monitoring tool to study the real-time impedance during the sintering process.</span>

        </li>

    </div>
</section>

<section id="proj-3">

    <h3 class="text-center"> Nacre inspired multifunctional composite enabling structural batteries under extreme environment </h3>

    <div id="content">

        <li class="py-2">

            <span class="text-secondary">Implement ductile-phase toughening into a multilayer structural battery with hard-soft layered structure.</span>

        </li>
        <li class="py-2">

            <span class="text-secondary">Incorporate multiple phases as multifunctional components for enhanced mechanical property and electrochemical performance.</span>

        </li>

        <li class="py-2">

            <span class="text-secondary">Optimize for a balance between the mechanical strength and electrochemical performance and stable performance under mechanical load and other extreme environment.</span>

        </li>
        
    </div>
</section>

<section id="proj-4">

    <h3 class="text-center"> 
    Research in preparation, decay mechanism and electrochemical performance improvement of lithium sulfur battery cathode materials 
    </h3>

    <div id="content">

        <li class="py-2">

            <span class="text-secondary">
            Synthesize the porous & polarized carbon fibers with large surface area to confine the cathode active material – sulfur and suppress the side reaction of the battery.
            </span>

        </li>
        <li class="py-2">

            <span class="text-secondary">
                Battery separator modification to improve the active material utilization rate and extend the battery life span.
                A Project of National Materials Genome of China - Genomics study of lithium-ion battery electrodes.
            </span>

        </li>

    </div>
</section>

<section id="proj-5">

    <h3 class="text-center">
        Chemical synthesis and performance modification of nano-hydrogen storage material LiBH4
    </h3>

    <div id="content">

        <li class="py-2">

            <span class="text-secondary">
                Design and prepare the host material of LiBH4 and increase the hydrogen storage capacity & repeatability.
            </span>

        </li>
        <li class="py-2">

            <span class="text-secondary">
                A Project of National Natural Science Foundation of China - Study the effect of in-situ introduction of nano-catalysis and constrained carbon in metal borohydride on hydrogen storage performance and mechanism.
            </span>

        </li>

    </div>
</section>
