---
layout: compress
---
<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {% include head.html %}


<body>

    {% include header.html %}

    {% if page.layout =="home" %}
    {% include bo-profile.html %}
    {% include about.html %}
    {% include news.html %}
    {% endif %}

    <main aria-label="Content">
        <div id="content-container" class="container">
            {{ content }}
        </div>
    </main>

    {% include footer.html %}

</body>

</html>
